#bar_top{
  z-index:100;
  background-color:#000000;
}

.red{
  background-color:red;
}
.orange{
  background-color:orange;
}
.yellow{
  background-color:yellow;
}
.green{
  background-color:green;
}
.blue{
  background-color:blue;
}
.purple{
  background-color:purple;
}

div{
  position: absolute;
  background-color:#AAAAAA;
}
